{% extends "layouts/base.twig" %}

{% block main %}
    <h1>Crear post</h1>
    <form action="" method="POST">
        <input name="titulo" placeholder="Titulo"></input>
        <textarea name="contenido" placeholder="Contenido"></textarea>
        <button>Crear post</button>
    <form>
    <a href="/">Volver al inicio</a>
{% endblock %}
        