<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ksergio.com</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    {{ include('layouts/navbar.twig') }}
    <main>
        {% block main %}
            <p>Default base content</p>
        {% endblock main %}
    </main>
</body>
</html>